* {
  box-sizing: border-box;
  margin: 0;
  font-size: 100%;
}

htm,
body {
  
}

body {
  font-family: 'Julius Sans One', sans-serif;
  line-height: 1.2;
  color: #50392b;
  background: url(assets/2248.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  padding-top: 4rem;
}

.quote {
  font-size: 1.55rem;
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0;
    padding: 0;
    width: 55%;
    position: relative;
    top: 8rem;
    left: 5rem;
  }
  
  .quote {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 0;
    padding: 0;
    width: 45%;
    position: relative;
    top: 10rem;
    left: 12rem;
  }
  
  .quote {
    font-size: 2.45rem;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    margin: 0;
    padding: 0;
    width: 50%;
    position: relative;
    top: 12rem;
    left: 20rem;
  }
  
  .quote {
    font-size: 2.725rem;
  }
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.125rem;
  font-style: italic;
  margin-right: 5%;
  text-align: right;
  letter-spacing: .1rem;
}

@media (min-width: 768px) {
  
  .author {
    font-size: 1.35rem;
    margin-right: 10%;
  }
} 

@media (min-width: 1920px) {
  
  .author {
    font-size: 1.25rem;
    margin-right: 5%;
  }
}

.footer {
  position: absolute;
  bottom: .75rem;
  right: 1.25rem;
}

a {
  font-size: .75rem;
  color: #50392b;
  text-decoration: none;
}

a:hover {
  letter-spacing: .1185rem;
  font-weight: 600;
}