* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  font-size: 100%;
}

htm,
body {
  
}

body {
  font-family: 'Julius Sans One', sans-serif;
  line-height: 1.2;
  color: #50392b;
  background: url(assets/2248.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  padding-top: 4rem;
}

.quote {
  font-size: 1.55rem;
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 0;
    padding: 0;
    width: 55%;
    position: relative;
    top: 160px;
    left: 130px;
  }
  
  .quote {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 0;
    padding: 0;
    width: 45%;
    position: relative;
    top: 230px;
    left: 250px;
  }
  
  .quote {
    font-size: 2.45rem;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    margin: 0;
    padding: 0;
    width: 30%;
    position: relative;
    top: 380px;
    left: 500px;
  }
  
  .quote {
    font-size: 3rem;
    font-weight: 300;
  }
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.25rem;
  font-style: italic;
  margin-right: 15%;
  text-align: right;
  letter-spacing: .1rem;
}

@media (min-width: 768px) {
  
  .author {
    font-size: 1.35rem;
    margin-right: 10%;
  }
} 

@media (min-width: 1920px) {
  
  .author {
    font-size: 1.3rem;
    margin-right: 5%;
  }
}

.footer {
  position: absolute;
  bottom: 1rem;
  right: 1.525rem;
}

a {
  font-size: .75rem;
  color: #50392b;
}

a:hover {
  letter-spacing: .115rem;
  font-weight: 600;
}