* {
  box-sizing: border-box;
  text-decoration: none
}

html,
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  color: #50392b;
  font-family: 'Julius Sans One', sans-serif;
}

body {
  background: url(assets/2248.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  padding-top: 4rem;
}

.quote {
  
  font-size: 2.5rem;
  text-align: center;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
  margin-right: 15%;
  text-align: right;
  letter-spacing: .1rem;
}
.footer {
  position: absolute;
  bottom: 1rem;
  right: 1.525rem;
}

a {
  font-size: .75rem;
  color: #50392b;
}

a:hover {
  letter-spacing: .125rem;
}